/* .required-text {
  font-weight: 700;
  color: #f86c6b;
  font-size: 12px;
  margin-top: 5px;
  min-height: 18px;
}

.image-group-part{
  max-width:500px;
  max-height:250px
}

.container-image .image-group-part{
  position: relative;
}

.container-image .btn-delete {
  cursor: pointer;
  text-decoration: underline;
}

.container-image .btn-delete:hover {
  color:#f64846;
}

.modal-title{
  font-size: 1.2rem;
  text-align: center;
}

.error-message {
  height: 8px;
} */