<main *ngIf="isLoaded" class="space-2 ng-star-inserted">
	<div class="container">
		<section class="host-banner">
			<div class="container box_1620">
				<div class="banner_inner">
					<div class="banner_content">
						<div class="media col-12 row">
							<div class="col-6">
								<video id="introduction-video" poster="{{host.avatar}}" width="100%" height="100%" style="object-fit: cover;" controls>
									<source id='source-video' src="{{host.introduction_video}}" type="video/mp4">
										Your browser does not support the video tag.
								</video>
							</div>
							<div class="media-body col-4">
								<div class="personal_text">
									<!-- <h6>Hello Everybody, i am</h6> -->
									<h3>{{host.user_name}}</h3>
									<div class="mb-2">
										<span *ngIf="host.rating === 0" class="fas fa-star text-secondary"></span>
										<span *ngIf="host.rating >= 1" class="fas fa-star green-lighter"></span>
										<span *ngIf="host.rating < 2" class="fas fa-star text-secondary"></span>
										<span *ngIf="host.rating >= 2" class="fas fa-star green-lighter"></span>
										<span *ngIf="host.rating < 3" class="fas fa-star text-secondary"></span>
										<span *ngIf="host.rating >= 3" class="fas fa-star green-lighter"></span>
										<span *ngIf="host.rating < 4" class="fas fa-star text-secondary"></span>
										<span *ngIf="host.rating >= 4" class="fas fa-star green-lighter"></span>
										<span *ngIf="host.rating < 5" class="fas fa-star text-secondary"></span>
										<span *ngIf="host.rating === 5" class="fas fa-star green-lighter"></span>
										<span class="ml-1">({{host.number_of_reviews}} Reviews)</span>
									</div>
									<ul class="list basic_info">
										<li><i class="flaticon-pin font-size-25 text-primary pr-1"></i>{{host.city.name}}, {{host.city.country.name}}</li>
										<li><i class="flaticon-worldwide font-size-25 text-primary pr-1"></i>{{host.languages}}</li>
										<li><i class="flaticon-worldwide font-size-25 text-primary pr-1"></i>400 tours guided</li>
									</ul>
								</div>
							</div>
							<div class="col-2">
								<img src="{{host.avatar}}" class="rounded-circle col-12 p-0">
							</div>
							<div class="col-12 mt-3">
								<p>{{host.self_introduction}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="welcome_area p_120">
			<div class="container">
				<div class="row welcome_inner">
					<div class="col-lg-12">
						<div class="welcome_text">
							<h4>My Offers</h4>
							<div class="row">
								<div *ngFor="let tour of tours" class="col-xl-3 col-md-4 col-sm-6 col-xs-12 mb-3 mb-md-4 pb-1">
                                    <div class="card mb-1 transition-3d-hover shadow-hover-2 tab-card h-100">
                                        <div class="position-relative mb-2">
                                            <a [routerLink]="['/tour-detail', tour.tour_id]" class="d-block gradient-overlay-half-bg-gradient-v5">
                                                <img class="min-height-230 bg-img-hero card-img-top" src="{{tour.cover_image}}" alt="img" style="object-fit: cover;">
                                            </a>
                                            <div class="position-absolute top-0 left-0 pt-4 pl-3">
                                                <!-- <span class="badge badge-pill bg-white text-primary px-4 py-2 font-size-14 font-weight-normal">Featured</span> -->
                                                <span *ngIf="tour.sale_price !== tour.list_price" class="badge badge-pill bg-white text-danger px-3 py-2 font-size-14 font-weight-normal">%{{100 - (tour.sale_price / tour.list_price * 100).toFixed(0)}}</span>
                                            </div>
                                            <div class="position-absolute top-0 right-0 pt-4 pr-3">
                                              <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                                <span class="flaticon-valentine-heart font-size-20"></span>
                                              </button>
                                            </div>
                                            <div class="position-absolute bottom-0 left-0 right-0">
                                                <div class="px-3 pb-2">
                                                    <h2 class="h5 text-white mb-0 font-weight-bold">
                                                        <small class="mr-2">Price</small>
                                                        {{tour.sale_price}}$
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body px-4 py-2">
                                            <!-- <a [routerLink]="['/tour-detail', tour.tour_id]" class="d-block">
                                                <div class="mb-1 d-flex align-items-center font-size-14 text-gray-1">
                                                    <i class="icon flaticon-pin-1 mr-2 font-size-15"></i> {{tour.city.name}}, {{tour.city.country.name}}
                                                </div>
                                            </a> -->
                                            <a [routerLink]="['/tour-detail', tour.tour_id]" class="card-title font-size-17 font-weight-bold mb-0 text-dark">{{tour.name}}</a>
                                            <div class="my-2">
                                                <div class="d-inline-flex align-items-center font-size-17 text-lh-1">
                                                    <div class="mr-2">
                                                        <span *ngIf="tour.rating === 0" class="fas fa-star text-secondary"></span>
                                                        <span *ngIf="tour.rating >= 1" class="fas fa-star green-lighter"></span>
                                                        <span *ngIf="tour.rating < 2" class="fas fa-star text-secondary"></span>
                                                        <span *ngIf="tour.rating >= 2" class="fas fa-star green-lighter"></span>
                                                        <span *ngIf="tour.rating < 3" class="fas fa-star text-secondary"></span>
                                                        <span *ngIf="tour.rating >= 3" class="fas fa-star green-lighter"></span>
                                                        <span *ngIf="tour.rating < 4" class="fas fa-star text-secondary"></span>
                                                        <span *ngIf="tour.rating >= 4" class="fas fa-star green-lighter"></span>
                                                        <span *ngIf="tour.rating < 5" class="fas fa-star text-secondary"></span>
														<span *ngIf="tour.rating === 5" class="fas fa-star green-lighter"></span>
                                                    </div>
                                                    <span class="text-secondary font-size-14 mt-1">{{tour.number_of_reviews}} Reviews</span>
                                                </div>
                                            </div>
                                            <div class="mb-1 d-flex align-items-center font-size-14 text-gray-1">
                                                <i class="icon flaticon-clock-circular-outline mr-2 font-size-14"></i>
                                                    {{Math.floor(tour.duration)}} hours&nbsp;
                                                    <span *ngIf="tour.duration !== Math.floor(tour.duration)">{{Number("0." + (tour.duration + "").split(".")[1]) * 60}} minutes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-6">
						<div class="tools_expert">
							<div class="skill_main">
								<div class="skill_item">
									<h4>After Effects <span class="counter">85</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Photoshop <span class="counter">90</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Illustrator <span class="counter">70</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Sublime <span class="counter">95</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Sketch <span class="counter">75</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</section>
		<section class="welcome_area">
			<div class="container">
				<div class="row welcome_inner">
					<div class="col-lg-12">
						<div class="welcome_text">
							<h4>Reviews</h4>
							<div class="row">
								<div *ngFor="let review of hostsReviews" class="media mb-4 col-12">
									<div class="mr-md-5">
										<a class="d-block" href="#">
											<img class="img-fluid mb-3 mb-md-0 rounded-circle" src="{{review.user.avatar}}" alt="Image-Description" style="width: 85px; height: 85px;">
										</a>
									</div>
									<div class="media-body text-center text-md-left">
										<div class="mb-4">
											<h6 class="font-weight-bold text-gray-3">
												<a href="#">{{review.user.user_name}}</a>
											</h6>
											<div class="d-flex align-items-center flex-column flex-md-row mb-2">
												<div class="font-size-10 letter-spacing-2">
													<span class="d-block">
														<span *ngIf="review.rating === 0" class="fas fa-star text-secondary"></span>
														<span *ngIf="review.rating >= 1" class="fas fa-star green-lighter"></span>
														<span *ngIf="review.rating < 2" class="fas fa-star text-secondary"></span>
														<span *ngIf="review.rating >= 2" class="fas fa-star green-lighter"></span>
														<span *ngIf="review.rating < 3" class="fas fa-star text-secondary"></span>
														<span *ngIf="review.rating >= 3" class="fas fa-star green-lighter"></span>
														<span *ngIf="review.rating < 4" class="fas fa-star text-secondary"></span>
														<span *ngIf="review.rating >= 4" class="fas fa-star green-lighter"></span>
														<span *ngIf="review.rating < 5" class="fas fa-star text-secondary"></span>
														<span *ngIf="review.rating === 5" class="fas fa-star green-lighter"></span>
													</span>
												</div>
											</div>
											<div class="font-weight-normal font-size-14 text-gray-9 mb-2">{{review.createdAt | date: 'medium'}}</div>
											<div class="font-weight-normal">{{review.content}}</div>
										</div>
									</div>
								</div>
								<div *ngIf="hostsReviews.length" class="col-12">
									<ngb-pagination [collectionSize]="total" [(page)]="page" [rotate]="true" [pageSize]="pageSize"
									  [maxSize]="5" (pageChange)="currentPage(page)">
									  <ng-template ngbPaginationPrevious>Previous</ng-template>
									  <ng-template ngbPaginationNext>Next</ng-template>
									  <ng-template ngbPaginationEllipsis>...</ng-template>
									</ngb-pagination>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>
<app-dialog></app-dialog>
<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>