.container-fluid {
  position: relative;
}

.login, .image {
  min-height: 100vh;
}

.bg-image {
  background-color: #000;
  background-size: cover;
  background-position: center;
}

.bg-opacity {
  background-color: rgb(230, 230, 230, 0.4);
  padding: 3rem;
  border-radius: 20px;
}

.icon-header {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.header-text {
  color: #fff;
}

.required-text {
  font-weight: 700;
  color: #f86c6b;
  font-size: 11.2px;
  margin:5px 23px 0;
  min-height: 18px;
}

.text-danger {
  margin: 5px 23px 0;
}

.text-error {
  font-weight: 700;
  color: #f86c6b;
  font-size: 12px;
  min-height: 18px;
}

.text-danger{
  margin: 5px 23px 0;
}

.btn-reset-password {
  color: #fff;
  background: #1e90ff;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.btn-reset-password:hover {
  background: #4169e1;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input, .form-label-group>label {
  padding: 0.75rem 1.5rem;
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  cursor: text;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(2rem * (2 / 3));
  padding-bottom: calc(0.75rem / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(0.5rem / 3);
  padding-bottom: calc(0.75rem / 3);
  font-size: 12px;
  color: #777;
}

.container-language {
  position: absolute;
  right: 15px;
}

.btn-language {
  color: white;
}

.btn-language:hover {
  color: white;
}

/* Fallback for Edge
  -------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
  -------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}