<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <div class="text-right">
                <button type="button" class="btn btn-pill btn-primary" data-toggle="modal"
                  (click)="clearAddCouponForm(); modalAddCoupon.show();">
                  {{'COMMON.BUTTON.BTN_ADD' | translate}}
                </button>
              </div>
            </div>
          </div>

          <form [formGroup]="searchInputForm" (ngSubmit)="spinner.show(); getCoupons()">
            <div class="row">
              <div class="form-group col-xl-6 col-md-6 col-sm-12">
                <label for="code">Code</label>
                <input class="form-control" id="name" type="text" name="code" formControlName="code" />
              </div>
              <div class="form-group col-xl-6 col-md-6 col-sm-12">
                <label for="code">Status</label>
                <select class="form-control" name="filter" formControlName="filter" (change)="spinner.show(); getCoupons()">
                  <option *ngFor="let filterOption of filterOptions" [value]="filterOption.value">{{filterOption.name}}</option>
                </select>
              </div>
            </div>
          </form>

          <br />

          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th style="width: 50px; min-width: 50px;">No</th>
                  <th style="width: 120px; min-width: 120px;">Code<i class="fa fa-sort ml-2" (click)="changeOrderType(3)"></i></th>
                  <th style="width: 100px; min-width: 100px;">Discount<i class="fa fa-sort ml-2" (click)="changeOrderType(5)"></i></th>
                  <th style="width: 120px; min-width: 120px;">Total quantity<i class="fa fa-sort ml-2" (click)="changeOrderType(7)"></i></th>
                  <th style="width: 120px; min-width: 120px;">Used quantity<i class="fa fa-sort ml-2" (click)="changeOrderType(9)"></i></th>
                  <th style="width: 100px; min-width: 100px;">Date<i class="fa fa-sort ml-2" (click)="changeOrderType(1)"></i></th>
                  <th style="width: 100px; min-width: 100px;">Status</th>
                  <th style="width: 120px; min-width: 120px;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let coupon of coupons; let i = index">
                  <td style="width: 50px; min-width: 50px;">{{ from + i }}</td>
                  <td style="width: 120px; min-width: 120px;">{{ coupon.code }}</td>
                  <td style="width: 100px; min-width: 100px;">{{ coupon.discount }}%</td>
                  <td style="width: 120px; min-width: 120px;">{{ coupon.total_quantity }}</td>
                  <td style="width: 120px; min-width: 120px;">{{ coupon.used_quantity }}</td>
                  <td style="width: 100px; min-width: 100px;">{{ coupon.createdAt | date:'dd/MM/yyyy' }}</td>
                  <td style="width: 100px; min-width: 100px;">
                    <span *ngIf="coupon.is_available == true" class="badge badge-success">Available</span>
                    <span *ngIf="coupon.is_available == false" class="badge badge-secondary">Unavailable</span>
                  </td>
                  <td style="width: 120px; min-width: 120px;">
                    <button type="button" class="btn btn-sm btn-circle btn-warning" data-toggle="modal"
                      (click)="modalEditCoupon.show(); getCoupon(coupon);">
                      <i class="fa fa-pencil"></i>
                    </button>                    
                    <button type="button" class="btn btn-sm btn-circle btn-danger"
                      (click)="modalConfirmRemoveCoupon.show(); getCoupon(coupon);">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                <tr *ngIf="!coupons?.length" class="text-center">
                  <td colspan="8">{{'COMMON.TABLE.NO_DATA' | translate}}</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="coupons.length">
              <ngb-pagination [collectionSize]="total" [(page)]="page" [rotate]="true" [pageSize]="pageSize"
                [maxSize]="5" (pageChange)="currentPage(page)">
                <ng-template ngbPaginationPrevious>{{'COMMON.BUTTON.BTN_PRE' | translate}}</ng-template>
                <ng-template ngbPaginationNext>{{'COMMON.BUTTON.BTN_NEXT' | translate}}</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div>

<div bsModal #modalConfirmRemoveCoupon="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="max-width: 500px !important;" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="mx-4 mt-5 mb-4 text-center">
        <span class="modal-title">Are you sure you want to delete this coupon?</span>
        <div class="pt-4 d-flex justify-content-center">
          <button type="button" class="width-btn btn mr-2  btn-pill btn-danger" (click)="deleteCoupon()">
            {{'COMMON.BUTTON.BTN_DELETE' | translate}}
          </button>
          <button type="button" class="width-btn btn  btn-pill btn-light" (click)="modalConfirmRemoveCoupon.hide()">
            {{'COMMON.BUTTON.BTN_CANCEL' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalAddCoupon="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div style="max-width: 800px !important;" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="addCouponForm" (ngSubmit)="createCoupon()">
        <div class="mx-4 mt-5 mb-4">

          <div class="col-12">
            <div class="row">
              <h3 style="margin: -25px 0 20px 15px;">Add Coupon</h3>

              <div class="form-group col-12 has-error">
                <label for="street">Code <span class="asterisk">*</span></label>
                <input type="text" class="form-control" formControlName="code"
                  style="text-transform: uppercase"
                  onkeypress="return event.charCode != 32">
                <div [style.visibility]="isAddCouponSubmitted ||
                (addCouponForm.get('code').invalid && addCouponForm.get('code').touched) ||
                addCouponForm.get('code').dirty ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="addCouponForm.get('code').errors?.required" class="help-block text-danger">
                    Please enter the code
                  </small>
                  <small *ngIf="addCouponForm.get('code').errors?.maxlength" class="help-block text-danger">
                    The code cannot be more than 255 characters
                  </small>
                </div>
              </div>
              <div class="form-group col-12 has-error">
                <label for="street">Discount <span class="asterisk">*</span></label>
                <input type="number" class="form-control" min="1" max="100" step="1" value="1"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  oninput="this.value > 100 ? this.value = 100 : this.value = this.value"
                  onDrag="return false" onDrop="return false" onPaste="return false" formControlName="discount" />
                <div [style.visibility]="isAddCouponSubmitted ||
                (addCouponForm.get('discount').invalid && addCouponForm.get('discount').dirty) ||
                addCouponForm.get('discount').touched ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="addCouponForm.get('discount').errors?.required" class="help-block text-danger">
                    Please enter the discount
                  </small>
                </div>
              </div>
              <div class="form-group col-12 has-error">
                <label for="street">Total quantity <span class="asterisk">*</span></label>
                <input type="number" class="form-control" min="1" max="999999999" step="1" value="1"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  oninput="this.value > 999999999 ? this.value = 999999999 : this.value = this.value"
                  onDrag="return false" onDrop="return false" onPaste="return false" formControlName="total_quantity" />
                <div [style.visibility]="isAddCouponSubmitted ||
                (addCouponForm.get('total_quantity').invalid && addCouponForm.get('total_quantity').dirty) ||
                addCouponForm.get('total_quantity').touched ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="addCouponForm.get('total_quantity').errors?.required" class="help-block text-danger">
                    Please enter the total quantity
                  </small>
                </div>
              </div>
              <div class="form-group col-12 has-error">
                <label for="street">Status <span class="asterisk">*</span></label>
                <select class="form-control" name="is_available" formControlName="is_available">
                  <option *ngFor="let statusOption of statusOptions" [value]="statusOption.value">{{statusOption.name}}</option>
                </select>
                <div [style.visibility]="'hidden'" class="error-message"></div>
              </div>
            </div>
          </div>

          <div class="pt-4 d-flex justify-content-center">
            <button type="submit" class="btn mr-2 btn-pill btn-primary">
              {{'COMMON.BUTTON.BTN_ADD'|  translate}}
            </button>
            <button type="button" class="btn btn-pill btn-light" (click)="modalAddCoupon.hide(); clearAddCouponForm();">
              {{'COMMON.BUTTON.BTN_CANCEL'|  translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #modalEditCoupon="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div style="max-width: 800px !important;" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="editCouponForm" (ngSubmit)="editCoupon()">
        <div class="mx-4 mt-5 mb-4">

          <div class="col-12">
            <div class="row">
              <h3 style="margin: -25px 0 20px 15px;">Edit Coupon</h3>

              <div class="form-group col-12 has-error">
                <label for="street">Code <span class="asterisk">*</span></label>
                <input type="text" class="form-control" formControlName="code" disabled>
                <div [style.visibility]="isEditCouponSubmitted ||
                  (editCouponForm.get('code').invalid && editCouponForm.get('code').touched) ||
                  editCouponForm.get('code').dirty ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="editCouponForm.get('code').errors?.required" class="help-block text-danger">
                    Please enter the code
                  </small>
                  <small *ngIf="editCouponForm.get('code').errors?.maxlength" class="help-block text-danger">
                    The code cannot be more than 255 characters
                  </small>
                </div>
              </div>
              <div class="form-group col-12 has-error">
                <label for="street">Discount <span class="asterisk">*</span></label>
                <input type="number" class="form-control" min="1" max="100" step="1" value="{{coupon.discount}}"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  oninput="this.value > 100 ? this.value = 100 : this.value = this.value"
                  onDrag="return false" onDrop="return false" onPaste="return false" formControlName="discount" />
                <div [style.visibility]="isEditCouponSubmitted ||
                (editCouponForm.get('discount').invalid && editCouponForm.get('discount').dirty) ||
                editCouponForm.get('discount').touched ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="editCouponForm.get('discount').errors?.required" class="help-block text-danger">
                    Please enter the discount
                  </small>
                </div>
              </div>
              <div class="form-group col-12 has-error">
                <label for="street">Total quantity <span class="asterisk">*</span></label>
                <input type="number" class="form-control" min="1" max="999999999" step="1" value="{{coupon.total_quantity}}"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57" 
                  oninput="this.value > 999999999 ? this.value = 999999999 : this.value = this.value"
                  onDrag="return false" onDrop="return false" onPaste="return false" formControlName="total_quantity" />
                <div [style.visibility]="isEditCouponSubmitted ||
                (editCouponForm.get('total_quantity').invalid && editCouponForm.get('total_quantity').dirty) ||
                editCouponForm.get('total_quantity').touched ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="editCouponForm.get('total_quantity').errors?.required" class="help-block text-danger">
                    Please enter the total quantity
                  </small>
                </div>
              </div>
              <div class="form-group col-12 has-error">
                <label for="street">Status <span class="asterisk">*</span></label>
                <select class="form-control" name="is_available" formControlName="is_available">
                  <option *ngFor="let statusOption of statusOptions" [value]="statusOption.value" [selected]="!coupon.is_available">{{statusOption.name}}</option>
                  <!-- <option [value]="true" [selected]="coupon.is_available == true">Available</option>
                  <option [value]="false" [selected]="coupon.is_available == false">Unvailable</option> -->
                </select>
                <div [style.visibility]="'hidden'" class="error-message"></div>
              </div>
            </div>
          </div>

          <div class="pt-4 d-flex justify-content-center">
            <button type="submit" class="btn mr-2 btn-pill btn-success">
              {{'COMMON.BUTTON.BTN_UPDATE'|  translate}}
            </button>
            <button type="button" class="btn btn-pill btn-light" (click)="modalEditCoupon.hide(); clearEditCouponForm();">
              {{'COMMON.BUTTON.BTN_CANCEL'|  translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-dialog></app-dialog>
<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>