/* .required-text {
  font-weight: 700;
  color: #f86c6b;
  font-size: 12px;
  margin-left: 23px;
  margin-top: 5px;
  min-height: 18px;
}

.asterisk {
  color: #f86c6b;
}

.modal-title{
  font-size: 1.2rem;
  text-align: center;
}

.error-message {
  height: 8px;
}

.word-break {
  border: none;
  background: none;
  resize: none;
  overflow: auto;
  max-height: 20px;
  min-height: auto;
  word-break: break-all;
  width: 100%;
}

.fa {
  cursor: pointer;
} */