.label-title {
  font-size: 15px;
  border-top: 1px solid #c8ced3;
  border-left: 1px solid #c8ced3;
  border-right: 1px solid #c8ced3;
  padding: 5px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  width: auto;
  text-align: center;
  background-color: #2f353a;
  color: white;
}

.cover-image-container {
  width: 100%;
  margin: 0 auto;
}

.cover-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 1%;
  object-fit: cover;
}

.fa {
  font-size: 16px;
}

span {
  margin-left: 5px;
}

.fa-star-o, .fa-star {
  font-size: 18px;
  color: #F7B619;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin-bottom: 0;
}

b {
  font-size: 16px;
}

.avatar-container {
  width: 100px;
  border-radius: 100%;
  display: inline-block;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
}

.host-card {
  border: 1px solid rgba(99, 194, 222, 0.8);
  border-radius: 10px;
  padding: 15px;
  position: relative;
  background-color: rgba(99, 194, 222, 0.8);
}

.host-information {
  display: inline-block;
  position: absolute;
  top: 50%;
  height: 6em;
  margin-top: -3em;
  margin-left: 10px;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  /* grid-row-gap: 10px; */
  padding: 10px;
}

.grid-container > div {
  padding: 20px 10px;
  border-radius: 10px;
}